#image {
    background-color: black;
    background-image: linear-gradient(rgba(1, 0, 0, 0.5), rgba(1, 0, 0, 0.5)), url(https://xboxwire.thesourcemediaassets.com/sites/2/2023/05/Background-size1920x1080-4e1694a6-75aa-4c36-9d4d-7fb6a3102005-bc5318781aad7f5c8520.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment:fixed;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; 
    image-rendering: pixelated;
    border: 0px;
}


header
div{
    padding:50px;
    display: inline;
    margin-right: 10%;
    
}

#BrandNetflixLogotype{
    width: 180px;
}

#language{
    font-size:20px;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 8%;
    border-color: white;
}

.signin{
    font-size:20px;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 8%;
    border-color: red;
}


main 
.write{
    padding: 50px;
    margin: 40px;
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    line-height: 125%;
}

#upper{
   
    text-align: center;
}

.small{
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#lower{
     
    text-align: center;
}

#email{
    color: rgb(243, 239, 239);
    border-color: rgb(255, 254, 254);
    border-radius: 8%;
    background-color: transparent;
    padding: 5px;
    font-size: 20px;
   
}

#butt{
    margin-left: 32%;
}






#footback{
    background-color: rgba(1, 0, 0.5);
   height: 500px;
   margin: 0px;
   text-align: center;
}

h3{
    color: rgb(153, 153, 153);
}

h4{
    color: rgb(153, 153, 153);
}

h5{
    color: rgb(153, 153, 153);
}

#links{
    text-align: start;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
}